body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


#currentBlind, #timeRemaining {
    margin-top: 20px;
    font-size: 1.2em;
}


#pauseBtn, #resetBtn, #endBtn {
    background-color: #ffc107;
}

#gameLogContainer {
    margin-top: 20px;
}

.warning {
    color: red;
}

label {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}


footer {
    background-color: #333; /* Dunkler Hintergrund */
    color: #fff; /* Weiße Schriftfarbe */
    text-align: center; /* Text zentriert */
    padding: 10px 20px; /* Innenabstand */
    /*width: 100%;  Dehnt den Footer über die gesamte Breite */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Schatten-Effekt für Tiefe */
    position: relative; /* Positionierung für Styling */
}

footer p {
    margin: 0; /* Entfernt Standard-Margin */
    font-size: 14px; /* Schriftgröße */
}

footer a {
    color: #fff; /* Weiße Schriftfarbe für Links */
    text-decoration: none; /* Keine Unterstreichung */
}

footer a:hover {
    text-decoration: underline; /* Unterstreicht Links beim Hover */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Fügt Flex-Richtung hinzu */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1; /* Lässt die Container die verbleibende Höhe einnehmen */
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
